# project files
.DS_Store
.settings/
.buildpath
.project

# configuration
config/config.yaml
config/*.php
config/mosaic*

# data files (legacy)
assets/*.php

# store files
public/store/*

# language
locale/

